@tailwind base;
@tailwind components;
@tailwind utilities;

button {
  @apply ease-in-out duration-200 disabled:opacity-60 disabled:cursor-not-allowed;
}

select {
  @apply bg-none;
}

.v-enter-active,
.v-leave-active {
  transform: translateY(0);
  transition: 0.3s ease-in-out;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
  transform: translateY(50px);
}

input[type="number"]::-moz-outer-spin-button,
input[type="number"]::-moz-inner-spin-button {
  -moz-appearance: none;
}

input,
textarea {
  @apply w-full focus:ring-0 focus:ring-offset-0;
}

th,
td {
  @apply py-2 px-4;
}

th {
  @apply text-left;
}

tr {
  @apply border-b border-slate-300;
}
